In [116]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import numpy as np

In [17]:
headers = {'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.162 Safari/537.36'}
webpage = requests.get('https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=1', headers = headers).text

In [18]:
soup = BeautifulSoup(webpage, 'lxml')

In [36]:
#print(soup.prettify())
soup.find_all('h1')[0].text.strip()

'List of companies in India'

In [29]:
for i in soup.find_all('h2', class_ = 'companyCardWrapper__companyName'):
    print(i.text.strip())

TCS
Accenture
Cognizant
Wipro
ICICI Bank
HDFC Bank
Infosys
Capgemini
Tech Mahindra
HCLTech
Genpact
Axis Bank
Concentrix Corporation
Amazon
Reliance Jio
IBM
Larsen & Toubro Limited
HDB Financial Services
Reliance Retail
Teleperformance

In [34]:
for i in soup.find_all('div', class_ = 'companyCardWrapper__companyRating rating-35'):
    print(i.text)

 3.8
 3.9
 3.8
 3.9
 3.9
 3.9
 3.7
 3.7
 3.8
 3.9
 3.9
 3.9
 3.6

In [37]:
company = soup.find_all('div', class_ = 'companyCardWrapper')

In [38]:
len(company)

20

In [125]:
name = []
rating = []
reviews = []
c_type = []
old = []
employees = []
hq = []

for i in company:
    name.append(i.find('h2').text.strip())
    rating.append(i.find('span', class_ = 'companyCardWrapper__companyRatingValue').text.strip()) #find_all would need i.find_all()[0] but find doesn't need indexing
    reviews.append(i.find('a', class_ = 'companyCardWrapper__ActionWrapper').text.strip())
    info = i.find_all('span', class_ = 'companyCardWrapper__interLinking')[0].text.strip().split('|')
    c_type.append(info[2].strip()) if info[2].strip() in ['Public', 'Private'] else c_type.append(np.nan)
    old.append(info[2].strip()) if len(info) < 5 else old.append(info[3].strip())
    employees.append(info[1].strip())
    if len(info) < 5:
        hq.append(info[3].split('+')[0].strip())
    else:
        hq.append(info[4].split('+')[0].strip())

In [126]:
d = {'name': name, 'rating': rating, 'reviews': reviews, 'c_type': c_type, 'old': old, 'employees': employees, 'hq': hq}

In [127]:
df = pd.DataFrame(d)

In [128]:
df

,name,rating,reviews,c_type,old,employees,hq
0,TCS,3.8,63.6k Reviews,Public,55 years old,1 Lakh+ Employees,Mumbai
1,Accenture,4.1,40.6k Reviews,Public,34 years old,1 Lakh+ Employees,Dublin
2,Cognizant,3.9,37k Reviews,NaN,29 years old,1 Lakh+ Employees,Teaneck. New Jersey.
3,Wipro,3.8,33.7k Reviews,Public,78 years old,1 Lakh+ Employees,Bangalore/Bengaluru
4,ICICI Bank,4.0,29.9k Reviews,Public,29 years old,1 Lakh+ Employees,Mumbai
5,HDFC Bank,3.9,29.5k Reviews,Public,29 years old,1 Lakh+ Employees,Mumbai
6,Infosys,3.9,27.8k Reviews,Public,42 years old,1 Lakh+ Employees,Bengaluru/Bangalore
7,Capgemini,3.9,25.8k Reviews,Public,56 years old,1 Lakh+ Employees,Paris
8,Tech Mahindra,3.7,24.2k Reviews,Public,37 years old,1 Lakh+ Employees,Pune
9,HCLTech,3.7,23.5k Reviews,Public,32 years old,1 Lakh+ Employees,Noida
10,Genpact,4.0,23.3k Reviews,Public,26 years old,50k-1 Lakh Employees,New York
11,Axis Bank,3.8,19.7k Reviews,Public,30 years old,50k-1 Lakh Employees,Mumbai
12,Concentrix Corporation,3.9,18.9k Reviews,Public,40 years old,50k-1 Lakh Employees,Fremont
13,Amazon,4.2,18.1k Reviews,Public,29 years old,1 Lakh+ Employees,Seattle
14,Reliance Jio,3.9,17.9k Reviews,Public,16 years old,50k-1 Lakh Employees,Navi Mumbai
15,IBM,4.1,17.9k Reviews,Public,112 years old,50k-1 Lakh Employees,Armonk
16,Larsen & Toubro Limited,4.0,16.8k Reviews,Public,85 years old,1 Lakh+ Employees,Mumbai
17,HDB Financial Services,4.0,15.8k Reviews,NaN,16 years old,10k-50k Employees,Ahmedabad
18,Reliance Retail,3.9,15.8k Reviews,NaN,17 years old,1 Lakh+ Employees,Navi Mumbai
19,Teleperformance,3.6,15k Reviews,NaN,45 years old,10k-50k Employees,Paris

final = pd.DataFrame()
for j in range(1, 4):
    url = f"https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page={j}"
    headers = {'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.162 Safari/537.36'}
    #print(url)
    webpage = requests.get(url, headers = headers).text
    soup = BeautifulSoup(webpage, 'lxml')
    company = soup.find_all('div', class_ = 'companyCardWrapper')
    name = []
    rating = []
    reviews = []
    c_type = []
    old = []
    employees = []
    hq = []

    for i in company:
        name.append(i.find('h2').text.strip())
        rating.append(i.find('span', class_ = 'companyCardWrapper__companyRatingValue').text.strip()) #find_all would need i.find_all()[0] but find doesn't need indexing
        reviews.append(i.find('a', class_ = 'companyCardWrapper__ActionWrapper').text.strip())
        info = i.find_all('span', class_ = 'companyCardWrapper__interLinking')[0].text.strip().split('|')
        c_type.append(info[2].strip()) if info[2].strip() in ['Public', 'Private'] else c_type.append(np.nan)
        old.append(info[2].strip()) if len(info) < 5 else old.append(info[3].strip())
        employees.append(info[1].strip())
        if len(info) < 5:
            hq.append(info[3].split('+')[0].strip())
        else:
            hq.append(info[4].split('+')[0].strip())
    d = {'name': name, 'rating': rating, 'reviews': reviews, 'c_type': c_type, 'old': old, 'employees': employees, 'hq': hq}
    df = pd.DataFrame(d)
    final = final.append(df, ignore_index = True)